/* App.css */
.container {
  display: flex;
  height: 100%;
}

.left-section {
  width: 30%;
  background-color: black;
  color: white;
  text-align: center;
  vertical-align: middle;
  line-height: 650px;  
}

.right-section {
  width: 70%;
  background-color: #e1e1e1;
  display: flex;
  justify-content: center;
   
}

.centered-div {
  margin-top: 20px;
  /* Styles for the centered div */
  background-color: white;
  border-radius: 5px;
}
body{
  background-color: #e1e1e1;
}